html {
  scroll-behavior: smooth;
}

body {
  background-color: #1e2127;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  align-items: center;
}

.App-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.App-header nav ul li {
  margin-right: 20px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.section {
  color: white;
  padding: 20px;
}

.section h1 {
  font-size: 6rem;
}

.section p {
  font-size: 2rem; 
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.feature {
  border: 1px solid #ddd;
  padding: 20px;
  width: 30%;
}

.home-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 95vh;
}

.about-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 110vh;
}

.project-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 95vh;
}