/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #1e2127;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  align-items: center;
}

.App-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.App-header nav ul li {
  margin-right: 20px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

/* Sections */
.section {
  color: white;
  padding: 20px;
}

.section h1 {
  font-size: 6rem;
}

.section p {
  font-size: 2rem;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.feature {
  border: 1px solid #ddd;
  padding: 20px;
  width: 30%;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95vh; /* Changed to min-height for better responsiveness */
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  min-height: 75vh; /* Changed to min-height for better responsiveness */
}

.project-section h1 {
  margin-bottom: 50px;
}

.project-list {
  display: flex;
  flex-wrap: nowrap; /* Ensure items stay in a single row */
  justify-content: center;
  gap: 20px;
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
  padding-bottom: 20px; /* Add padding to handle horizontal scrolling */
}

.project-card {
  background: #2a2e35;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 80%; /* Adjusted width for better responsiveness */
  max-width: 400px; /* Limit maximum width for smaller screens */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-card p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.project-card a {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.5rem;
}

.project-card a:hover {
  text-decoration: underline;
}

/* About section */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 110vh; /* Changed to min-height for better responsiveness */
  color: white;
  padding: 40px 20px;
}

.about-content {
  flex: 1;
  padding-right: 20px;
}

.cool-object {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

/* Cube animation */
.cube {
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  animation: rotate 5s infinite linear;
}

.cube .face {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #ffffff;
  border: 1px solid #3d424e;
}

.cube .front {
  transform: translateZ(250px);
}

.cube .back {
  transform: rotateY(180deg) translateZ(250px);
}

.cube .left {
  transform: rotateY(-90deg) translateZ(250px);
}

.cube .right {
  transform: rotateY(90deg) translateZ(250px);
}

.cube .top {
  transform: rotateX(90deg) translateZ(250px);
}

.cube .bottom {
  transform: rotateX(-90deg) translateZ(250px);
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* Contact section */
.contact-section {
  background-color: #2a2e35;
  color: #ffffff;
  text-align: left;
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-section h2 {
  margin-right: 20px;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.contact-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}

.contact-links a:hover {
  color: #61dafb;
}

.contact-links i {
  margin-right: 10px;
}

/* Media Queries */
@media (min-width: 1200px) {
  .project-card {
    width: 30%; /* Adjusted width for larger screens */
  }
}

@media (max-width: 992px) {
  .project-card {
    width: 45%; /* Adjusted width for medium screens */
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 70%; /* Adjusted width for smaller screens */
  }
}

@media (max-width: 576px) {
  .project-card {
    width: 80%; /* Adjusted width for extra small screens */
  }
}